body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.5s;
}

/* Theme Colors */
body.theme-default {
  background-color: white;
  color: black;
}
body.theme-dark {
  background-color: #121212;
  color: white;
}
body.theme-blue {
  background-color: #e7f5ff;
  color: #0d3b66;
}

/* Navbar Themes */
body.theme-default .navbar { background-color: #f8f9fa !important; }
body.theme-dark    .navbar { background-color: #343a40 !important; }
body.theme-blue    .navbar { background-color: #0d6efd !important; }

/* Pokeball BG Themes */
body.theme-default .card { background-color: white; }
body.theme-dark    .card { background-color: #444;   }
body.theme-blue    .card { background-color: #cfe2ff;}

#game_grid {
  display: grid;
  gap: 10px;
  padding: 16px;
  justify-content: center;
  margin: 20px auto;     /* center on page */
}

#game_grid.easy {
  --card-size: 200px;
  grid-template-columns: repeat(3, var(--card-size));
  grid-template-rows: repeat(2, var(--card-size));
}

#game_grid.medium {
  --card-size: 150px;
  grid-template-columns: repeat(4, var(--card-size));
  grid-template-rows: repeat(3, var(--card-size));
}

#game_grid.hard {
  --card-size: 120px;
  grid-template-columns: repeat(5, var(--card-size));
  grid-template-rows: repeat(4, var(--card-size));
}

.card {
  width: var(--card-size);
  height: var(--card-size);
  position: relative;
  perspective: 800px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer

}

.front_face,
.back_face {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}


.front_face {
  transform: rotateY(180deg);
}